.login {
  height: 200px;
}

.form-btn {
  margin-top: 33px;
}

.abt {
  &:focus {
    outline: none !important;
  }

  text-decoration: none;
}

.btn {
  border: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
